doctype html
html
  head
    title 검색 결과
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body

      br
if messages.length > 0
    for msg in messages
        .card.my-5.col-10
            .card-body.d-flex
              .left-content.flex-grow-1
                h5.card-text 이름: #{msg.name}
                h6.card-subtitle.mb-2.text-muted  #{msg.timeAgo} 
                br
                p.card-text 카테고리: #{msg.body}
                br
                p.card-text 방문날짜: #{msg.date}
                br
                p.card-text 평점: #{msg.rating}
                br
                p.card-text 한줄평: #{msg.ask}
              .right-content
                br
                a(href=msg.image, target='_blank')
                  img(src=msg.image, alt='Image', style='max-width: 350px; height: auto;')
    
else
    p.alert.alert-info(role='alert')
        | There is currently no data in the guestbook.
